body{
	margin:0px;
	background-color: black;
}

#jeu{
	margin:0;
	position: absolute;
	top:0px;
	left:0px;
	transform-origin:0 0;
	transform: scale(1);
}

#loginPanel{
	z-index: 100;
	position: absolute;
	background-color: white;
	width:1050px;
	height:640px;
	text-align: center;
}

.rooms{
	position: absolute;
	width:800px;
	height:640px;
	background-color: white;
	text-align: center;
	overflow: auto;
}

#rooms ul{
	list-style: none;
}

#canvas{
	position: absolute;
}


.tchat{
	position: absolute;
	left:800px;
	width:250px;
	height:640px;

	background-color: #282828;
	color:white;
}

.tchatInformation{
	color:green;
}

#messages{
	margin: 0;
	height:600px;
	overflow: auto;
	list-style: none;
	padding-left: 5px;
	margin-bottom: 10px;
}

.informations{
	position: absolute;
	top:560px;
	width:800px;
	height:80px;
	background-color: #212121;
	color:white;
}


/* Spells */

#spells{
	position: absolute;
	list-style: none;
}

#spells li{
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
}

.cd {
	text-align: center;
	background-color:black;
	font-size: 20px;
	font-weight: bold;
	color:white;
	cursor: default;
}

/* Timer */
#timeleft{
	position: absolute;
	top:20px;
	left:300px;
	width:100px;
	text-align: center;
	color:yellow;
	font-weight: bold;
	font-size: 25px;
}


.score{
	position: absolute;
	top:20px;
	left:500px;
	font-size: 25px;
}

#score1{
	width:40px;
	text-align: center;
	background-color: blue;
}

#score2{
	text-align: center;
	width:40px;
	background-color: red;
}


.buttons{
	position: absolute;
	left:600px;
	text-align: right;
	list-style: none;
}

.buttons button{
	margin-bottom: 10px;
}
